<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header class="header">
  <br>
  <div class="logo">
    <a href="/"><img src="https://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Keyboard-icon.png" alt="Logo"></a>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/admin/products">Admin<img th:src="@{https://cdn-icons-png.flaticon.com/512/6522/6522516.png}" style="height: 50px; width: auto; object-fit: scale-down" class="card-img-top" alt="icon"></a></li>
    </ul>
  </nav>
</header>

<script>
  window.addEventListener("scroll", function() {
    var header = document.querySelector(".header");
    header.classList.toggle("sticky", window.scrollY > 0);
  });
</script>

<div class="container">
  <h1>Product List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${'&#36;' + product.price}"></td>
      <td>
        <a class="btn btn-secondary m-1" th:href="@{/admin/products/{id}/edit(id=${product.id})}">Edit</a>

        <a class="btn btn-danger m-1" th:href="@{/admin/products/delete(id=${product.id})}" onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/admin/products/add}">Add Product</a>
  <a class="btn btn-warning" th:href="@{/admin/products/orders}">Orders</a>
</div>

<footer>
  <p>&copy; A-Keys</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>